.button {
    /* height: 20%; */
    width: 80%;
    border: 0.3rem solid black;
    margin: 2rem;
    padding: 1rem;
    color: black;
    background-color: yellow;
}

.button:hover {
    cursor: pointer;
}

.button p {
    font-size: 2.3rem;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
}
