:root {
    --enqueuedCell: rgb(85, 176, 218);
    --visitedCellColor: rgb(151, 229, 243);
    --cellInPathColor: yellow;
    --blockedCellColor: rgb(16, 16, 104);
    --cellBorderColor: rgb(105, 224, 233);

    --sourceCellColor: green;
    --destCellColor: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    text-decoration: none;

    cursor: default;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;

    font-size: 3vh;
}

.mainContainer {
    /* background-color: darkcyan; */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.headerContainer {
    /* background-color: rebeccapurple; */
    height: 9%;

    display: flex;

    background-image: url(../media/headerBackground2.png);

    text-align: center;

    border-bottom: 0.2rem solid white;
}

#header {
    height: 100%;
    /* background-color: aqua; */
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3.5vh;
    padding: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    font-weight: 700;
}

.inputContainer {
    padding: 1.5rem;
    color: white;
    font-size: 2vh;

    display: flex;

    font-family: "Raleway", sans-serif;
}

#gridSizeInputContainer {
    padding-left: 2rem;
    padding-right: 3rem;
}

#speedInputContainer {
    padding-right: 3rem;
}

.bodyContainer {
    flex: 1;

    height: 100%;
    width: 100%;
    display: flex;
}

.buttonSidebarContainer {
    background-color: azure;

    background-image: url(../media/sidebar8.gif);
    background-repeat: no-repeat;
    background-size: cover;

    width: 10%;

    display: flex;
    flex-direction: column;
}

.gridOuterContainer {
    flex: 1;
    height: 100%;
    width: 100%;

    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

.detailsContainer {
    /* background-color: burlywood; */
    height: 4%;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    margin-top: 0.8rem;
    margin-bottom: auto;
    text-align: center;

    font-size: 2.3vh;

    display: flex;
    align-items: center;

    position: relative;
}

#detailText {
    flex: 1;
}

#legendButton {
    /* position: absolute; */
    right: 2vw;
    height: 100%;
    width: 10rem;
    margin-right: 2%;

    /* transition: 500ms transform; */
    background-color: rgb(187, 130, 239);
    color: white;
    border-radius: 10%;
}

#legendButton:hover {
    cursor: pointer;
    /* animation: rotateIconAnimation 1.5s linear infinite; */
    background-color: blueviolet;
    color:white;
    box-shadow: 0 0 60px 0 rgb(0, 225, 255);
}

.gridContainer {
    flex: 1;
    padding: 1rem;
    height: 100%;
    width: 100%;
    /* background-color: white; */

    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tbody {
    width: 100%;
}

.gridRow {
    /* background-color: coral; */
    flex: 1;

    width: 100%;
    /* background-color: aqua; */
}

.gridCell {
    background-color: none;
    border: 0.01rem solid var(--cellBorderColor);

    /* transition: background-color 0.7s; */

    /* animation: gridCellEnqueueAnimation 1s linear forwards; */
}

.emptyCell {
    background-color: none;
    background-color: white;
}

.blockedCell {
    background-color: var(--blockedCellColor) !important;
    border: 0.01rem solid var(--blockedCellColor);

    /* border: none; */

    transition: none;
}

.sourceCell {
    background-color: var(--sourceCellColor) !important;
    border-radius: 50%;

    animation: gridCellGlow 1s linear forwards infinite alternate !important;

    cursor: grab;
}

.destCell {
    background-color: var(--destCellColor) !important;
    border-radius: 50%;

    animation: gridCellGlow 1s linear forwards infinite alternate !important;
    cursor: grab;
}
